/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
  .logo {
    text-align: center;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.montey {
  font-family: 'Montserrat', sans-serif;
}

.smontey {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.lobstah {
  font-family: 'Lobster', cursive;
}

.logo {
  text-align: center;
  /* padding-left: 2rem; */
  position: sticky;
  text-shadow: 1px 1px 2px rgb(10, 102, 87);
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #2e230d;
  font-size: 1.8rem;
  color: black;
  margin-bottom: none;
}

h1.logo {
  padding: .66rem 0;
  text-align: center;
  background-color: #2e230d;
  font-size: 1.8rem;
  color: black;
  position: sticky;
}

.witey {
  color: #fff;
}